@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,400;1,900&display=swap");

body {
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(247, 216, 212);
  font-family: "Anton, Roboto", cursive, sans, bold;
  font-size: 1.5em;
}

.district {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  color: green;
  font-weight: bolder;
}

.container {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    margin: 1em;
    font-size: 1em;
  }

  .district {
    font-size: 2.5em;
  }

  .container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0.5em;
    font-size: 0.8em;
  }

  .district {
    font-size: 2.2em;
  }
}
